.all{
  padding: 30px 0 40px;

  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
  }
  &__item{
    font-size: 20px;
    font-weight: 500;
  }

  &__card{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-top: 40px;

    &-left{
      display: flex;
      align-items: center;column-gap: 4px;
    }

    &-img{
      width: 25px;
    }
    &-title{
      font-weight: 600;
      font-size: 16px;
    }
    &-price{
      font-weight: 400;
      font-size: 15px;
    }
    &-dif{
      font-weight: 500;
      color: green;
      font-size: 18px;
    }
  }
}
