.all{
  padding: 30px 0 40px;

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  table{
    width: 600px;
    text-align: center;
    height: 300px;
    margin: 0 auto;
  }

  td{
    font-weight: 400;
    font-size: 15px;
  }

  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    width: 200px;
    margin: 0 auto;
  }
  &__item{
    font-size: 20px;
    font-weight: 500;
  }

  &__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 0;
    width: 200px;

    &-left{
      display: flex;
      align-items: center;column-gap: 4px;
    }

    &-img{
      width: 25px;
    }
    &-title{
      font-weight: 600;
      font-size: 16px;
    }
    &-price{
      font-weight: 400;
      font-size: 15px;
    }
    &-dif{
      font-weight: 500;
      color: green;
      font-size: 18px;
    }
  }
}
