.diagrama{
  padding: 40px 0 80px;
  &__list{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__item{
    color: rgb(183, 189, 198);
  }
  &__table{
    max-width: 1200px;
    margin: 0 auto;
  }
}