.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
  }

  &__form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &__input{
    padding: 10px 20px;
    width: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
  }
  &__btn{
    padding: 20px 40px;
    background: transparent;
    border: 1px solid black;
  }
}