.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;

  &__link{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
  }
  &__title{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
    color: orange;
  }

  &__form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    color: orange;
  }
  &__input{
    padding: 10px 20px;
    width: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: none;
    color: black;
    font-size: 15px;

  &::placeholder{
    color: gray;
    font-size: 14px;
  }
  }
  &__btn{
    padding: 14px 30px;
    background: transparent;
    border: 1px solid rgb(240, 185, 11);
    border-radius: 12px;
    color: white;
    transition: 1s;
    &:hover{
     background: rgb(240, 185, 11);
      color: black;
      font-weight: 700;
      transition: 1s;
    }
  }
}