.header{
  padding: 30px 0 50px;

  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &__left{
    font-size: 40px;
    font-weight: 600;
    color: white;
    span{
      color: rgb(240, 185, 11);
    }
  }

  &__center{
    display: flex;
    align-items: center;
    column-gap: 15px;

    &-link{
      font-size: 20px;
      font-weight: 400;
      color: white;
    }
  }

  &__right{
    display: flex;
    align-items: center;
    column-gap: 30px;

    &-logOut{
      font-size: 20px;
      background: transparent;
      border: none;
    }
    &-icon{
      font-size: 32px;
    }
    &-link{
      font-size: 25px;
      color: white;
      font-weight: 500;
    }
  }

}

.diagrama{
  margin: 0 auto;
}
