@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: .5s;
  font-family: 'Finlandica', sans-serif;
}

.container{
  max-width: 1240px;
  margin: 0 auto;
}

body{
  background: #0B0E11;
}

@import "header";
@import "diagrama";
@import "all";
@import "form";
@import "Profile";
